.hover-board {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.hover-board__pixel {
    
    width: 20px;
    height: 20px; 
    background-color: black(0,0,0,0.15);
    transition: 1.5s ease;

}
.hover-board__pixel 
